@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body{
font-size: 16px;	
color: #FFFFFF;
	font-family: Kdam Thmor Pro;
	background-color: #2A2A2A;
	
}
header {
	padding: 30px;
	background-color:#141414;
}
#hero{
	padding: 60px;
	background-color: #000000;
	
}
#services{
	align-content: center;
	text-align: center;
	padding: 30px;                 
	background-color: #171717;
}
#proyectos{
	padding: 40px;
}
#proyectos h3 {
	text-align: center;
	padding: 20px;
	font-size: 40px;
}
#contact{
	padding: 40px;
}
 h2{
	padding:  30px 0;
	
}
#contact{
	background-color: #0C0C0C;
}
h1{
	padding-top: 100px;
}
#hero .img-fluid{
	margin-left: 180px;
	
}
.btn-primary {
	background-color: #062259;
	border-radius: 20px;
	padding: 10px 20px ;
}
footer{
	padding: 30px;
	background-color:#141414;
}